body{
    font-family: 'Courier New', Courier, monospace;
    background: url('body-bg.jpeg') no-repeat center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    vertical-align: middle;
    backdrop-filter: blur(5px);
}
label{
    width: 100%;
    position: relative;
    padding-left: 15%;
    place-self:ce;
}
/* div{
    vertical-align: middle;
    position:relative;
    background-color: aqua;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.uname{
    height: 40px;
} */
h1{
    color: rgb(17, 158, 160);
    position:static;
}



form {
    position:static;
    background-color: rgba(255, 235, 205, .6);
    padding: 20px;
    display: flex;
    margin: auto;
    place-items: center;
    flex-direction: column;
    justify-content: center;
    border: 0px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #c4dcc4;
    max-width: 400px;
    width: 40vw;
    height:vh;
}
input[type=text], input[type=password], input[type=email] {
    font-family: 'Courier New', Courier, monospace;
    position:relative;
    padding: 10px;
    text-align: center;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width:80%;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
}