body{
    width: 100vw;
    min-width: 750px;
}
.left_sideBar{
  display: flex;
  flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 20%;
    background-color: #2991be;
    min-width: 150px;
    padding-top:3vw;
    text-align: center;
}
.right_sidebar{
    padding: 2%;
    position:static;
    height: 100vh;
    width: 80vw;
    min-width: 600px;
    background-color: #66e6f9;
    float: right;
}
.options_select h3{
    font-size: 20px;
}
.options_select{
    border-radius: 5px;
    cursor: pointer;
    padding-top: 4.5%;
    margin-top: 5%;
    position: relative;
    background-color: rgb(88, 236, 244);
    min-height: 30px;
    height: 6vh;
    margin-left: 5%;
    width: 90%;
}
.options_select:active{
    background-color: #008080;
}
#logout{
  position: absolute;
  bottom:0px;
  margin-bottom: 6vh;
}

  .decorative-table {
    text-align: center;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    border-collapse: collapse;
  }
.right_sidebar {
    overflow-y: scroll;
}

  .decorative-table th,
  .decorative-table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .decorative-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .decorative-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .decorative-table tr:hover {
    background-color: #ebebeb;
  }
  label{
    width: 60%;
    position: relative;
    padding-left: 0;
    place-self:ce;
}
/*div{
    vertical-align: middle;
    position:relative;
    background-color: aqua;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.uname{
    height: 40px;
}*/
h1{
    position:static;
}



form {
    background-color: transparent;
    padding: 20px;
    display: flex;
    place-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:vh;
}
input[type=text], input[type=password], input[type=number], input[type=email] {
    font-family: 'Courier New', Courier, monospace;
    position:relative;
    padding: 10px;
    text-align: center;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width:60%;
    appearance: textfield;
}
select{
  font-family: 'Courier New', Courier, monospace;
  position:relative;
  padding: 10px;
  text-align: center;
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width:60%;
}

#reg_submit_button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
}